.link {
  color:antiquewhite;
}

.resume {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 100px;
  padding: 6%;
  background-color: #1f2839;
  border: 2px solid #b69d74;
}